#box-nav {
  background-color: #3f013d;
  padding: 15px;
  height: 60px;
}

#box-nav ul {
  list-style: none; /*Le saco el puntito*/
  display: flex;
  justify-content: center;
}

#box-nav a {
  color: #ecf0f1;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 8px 16px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

#box-nav a:hover {
  background-color: #490650;
  color: #b60c72;
}
