.box-header {
  text-align: center;
  background: linear-gradient(
    135deg,
    rgb(219, 134, 202) 0%,
    #c026d3 60%,
    #ec4899 100%
  );
  margin: 100px;
  padding: 50px;
  border-radius: 6px;
}

.box-header h1 {
  font-family: "Times New Roman", sans-serif;
  color: rgb(113, 4, 64);
  font-weight: bold;
}

.box-header p {
  font-family: Verdana, sans-serif;
  color: rgb(89, 3, 77);
}
