.box-header {
  text-align: center;
  background-color: rgb(204, 112, 186);
  margin: 100px;
  padding: 50px;
  border-radius: 6px;
}

.box-header h1 {
  font-family: "Times New Roman", sans-serif;
  color: rgb(113, 4, 64);
  font-weight: bold;
}

.box-header p {
  font-family: Verdana, sans-serif;
  color: rgb(89, 3, 77);
}
